

.container, .container-fluid, .container-lg, .container-md,
.container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper .page-wrap .main-content{
    padding: 30px 0;
    background-color: #d0d0d0;
    min-height: calc(100vh - 120px);
    margin-top: 60px;
    padding-right: 15px;
    padding-left: 255px;
}
.offcanvas {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    visibility: visible;
}

.page-header-title i {
    float: left;
}
  